.DS_Store
node_modules

.venv

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# requirements.txtがある場合はPipfileがあるとHerokuがうまく動かない
Pipfile
Pipfile.lock
