[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
flask-restful = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
